ion-modal-view
  ion-content
    .list.list-inset.register
      .close.ion-android-close(ng-click='hide()')
      label.item.item-input
        span.input-label NAME
        input(type='text')
      label.item.item-input
        span.input-label COMPANY
        input(type='text')
      label.item.item-input
        span.input-label JOB
        input(type='text')
      label.item.item-input
        span.input-label EMAIL
        input(type='text')
      label.item
        .submit SUBMIT
