ion-view
  ion-pane
    .apax-recruit
      .pentagon
        .image
      .wantyou
        .image
      .slogan
        .image
      .interact(response-div, r-ratio='1.827', r-width='0.148', r-height='0.022', r-left='0.188', r-top='0.407', ng-style='getResizeValue')
        a(href='#', class='position')
        a(href='mailto:hr@apaxgroup.com', class='email')
      .main-image
        .image
      .parallelogram-1
        .image
      .parallelogram-2
        .image
      .trapezoid-1
        .image
      .trapezoid-2
        .image
