.apax-cu {
  // inherit from ../event/event.scss
  > .recreation {
    > .accordion {
      margin: -177px 0 0 -371px;
      width: 580px;
      height: 325px;

      > .context {
        top: 0;
        width: 580px;
      }

      /*
      > .copyright {
        bottom: 0;
      }
      > .copyright:nth-child(3) {
        @include animated-init(1s, 1.5s);
        transition: top .5s ease-out;
        top: 455px;
      }
      */
    }
    // page switch
    /*
    > .accordion.page2 {
      > .copyright:nth-child(3) {
        top: 0;
      }
    }
    */
  }
}
