.spotlight {
  @include position-to-center();
  z-index: 1;
  transform-origin: center top 0;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(0deg); // param
  opacity: 0.3;

  .rotate {
    @include animated-init(30s, 0s);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform-origin: center top 0;
    transform-style: preserve-3d;
    transform: rotateY(0deg); // animate
    width: 200px;

    > .incline {
      position: absolute;
      width: 200px;
      height: 100px;
      overflow: hidden;
      transform: rotateX(30deg) scale(1, 2);  // param rotateX, scale(1, X)
      transform-origin: center 0 0;
      > .triangle {
        width: 200px;
        height: 200px;
        background-image: linear-gradient(135deg, white -50%, transparent 35%); // param XX -50%
        transform: translate(100px) rotateZ(45deg) skewX(-17deg);
        transform-origin: 0 0 0;
      }
    }
  }
}

@keyframes spotlight-rotate {
  from {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

[nav-view="active"] {
  .spotlight {
    > .rotate {
      animation-name: spotlight-rotate;
    }
  }
}
[nav-view="leaving"] {
  .spotlight {
    > .rotate {
      animation-name: none;
    }
  }
}
