ion-view
  ion-pane
    .apax-pc
      .place
        | PRESS CENTER
      a(href='#/tab/press-center/event', class='event animated flipInX') EVENT
      a(href='#/tab/press-center/live', class='live') LIVE
      a(href='#/tab/press-center/recreation', class='recreation') RECREATION



      // event
      spotlight(triangle-color='#a40ebb', incline-qty='2', incline-x='10deg', incline-width='1', incline-height='8', spotlight-z='-50deg', spotlight-x='0deg', spotlight-left='-120', spotlight-top='-310', spotlight-opacity='0.9')
      spotlight(triangle-color='#a40ebb', incline-qty='3', incline-x='10deg', incline-width='0.8', incline-height='6', spotlight-z='50deg', spotlight-x='0deg', spotlight-left='-120', spotlight-top='-310', spotlight-opacity='0.9')
      // live
      spotlight(triangle-color='#a40ebb', incline-qty='2', incline-x='10deg', incline-width='0.8', incline-height='5', spotlight-z='-88deg', spotlight-x='0deg', spotlight-left='-450', spotlight-top='120', spotlight-opacity='0.9')
      // recreation
      spotlight(triangle-color='#a40ebb', incline-qty='1', incline-x='10deg', incline-width='0.6', incline-height='7', spotlight-z='70deg', spotlight-x='0deg', spotlight-left='300', spotlight-top='90', spotlight-opacity='0.9')
